body{
    text-align: center;
}
button{
    border-radius: 10px;
    border:none ;
    padding: 1em;
    background-color:blue;
}
li{
    padding: 1em;
    text-align: center;
}
input[type='radio']{
    display: none;
}
label{
    padding-left : 3em;
    padding-right: 3em;
    border: solid 1px black;
    margin: 0px;
    background-color: white;
    cursor: pointer;
    width: 300px;
}
#submit{
    
}